<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>  

<connectionStrings><add name="SinifimCom_SinifimDB2018DBEntities" connectionString="metadata=res://*/SinifimModelData.csdl|res://*/SinifimModelData.ssdl|res://*/SinifimModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=37.230.108.248;initial catalog=SinifimCom_SinifimDB2018DB;persist security info=True;user id=azorlua;password=123123123Ali.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>