
@{
    ViewBag.Title = "sanalSinif";
    Layout = "~/Views/Sinifim_General_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4>Sanal Sınıf Listesi</h4>
                    <a href="#" class="btn btn-primary btn-sm">Yeni Sanal Sınıf Ekle</a>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>
                                    Üniversite
                                </th>
                                <th>Email</th>
                                <th>Sınıf Adı</th>
                                <th>Toplam Öğrenci</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Songül Karakuş</td>
                                <td>Fırat Üniversitesi</td>
                                <td>sgkara@sg.com</td>
                                <td> YMT 211 </td>
                                <td>10</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
