
@{
    ViewBag.Title = "Öğretim Görevlisi Silme";
    Layout = "~/Views/Sinifim_General_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4>Öğretim Görevlisi Silindi</h4>
                    <a href="/_admin/teachers/operations" class="btn btn-primary btn-sm">Öğretim Görevlileri Listesi</a>
                </div>
                <div class="box-body">
                    <p><small><strong>@DateTime.Now</strong> tarihinde Songül Karakuş başarıyla silindi</small></p>
                </div>
                <div class="box-footer">
                    <small>@DateTime.Now</small>
                </div>
            </div>
        </div>
    </div>
</div>
