@model List<SINIFIM.DATABASE.ArgorTB>
@{
    ViewBag.Title = "Öğretim Görevlileri Listesi";
    Layout = "~/Views/Sinifim_General_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4>Öğretim Elemanlar</h4>
                    <a href="#" class="btn btn-primary btn-sm">Yeni Öğretim Görevlisi Ekle</a>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>E-Mail</th>
                                <th>
                                    Üniversite
                                </th>
                                <th>Sınıf.Sa</th>
                                <th>#İŞLEMLER#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(sa => item.email)</td>
                                    <td>@Html.DisplayFor(sa => item.UniversiteTB.universite)</td>                                   
                                    <td>
                                    @{
                                        int sanalSinifSayis = item.SanalSinifTB.Count;
                                        }
                                    @Html.DisplayFor(sa=>sanalSinifSayis)
                                    </td>
                                    <td>
                                        <a href="/_admin/teachers/passreset?id=@Html.DisplayFor(sa=>item.id)" class="btn btn-success btn-sm">Şifre.S</a>
                                        <button class="btn btn-danger btn-sm">Sil</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

